.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.memo_content {
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
  align-content: center;
  position: relative;
  background-color: aliceblue;
}

.image_wrapper {
  margin: 0 auto;
  overflow: auto;
  position: relative;
  display: inline-block;
  min-width: 0%;
  max-width: 100%;
  min-height: 0%;
  max-height: 100%;
}

input[type="file"] {
  height: auto;
  display: block;
}

.memo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  position-anchor: "--" + attr(data-anchor) + "-canvas";
  width: 100px;
  height: 30px;
  border: 4px solid #0000ff;
  /* transform: translate(-50%, -50%); */
  cursor: all-scroll;
  resize: both;
  overflow: auto;
  font-size: 14px;
  text-align: center;

  & > div {
    cursor: text;
    outline: none;
    width: 100%;
    height: 100%;
    align-content: center;
    /* text-align: center; */
  }
}

.memo:active {
  border-width: 4px;
  border-color: deeppink;
  outline: none;
}

.memo:focus {
  border-width: 4px;
  border-color: deeppink;
  outline: none;
}

.focus {
  border-width: 4px;
  border-color: red !important;
  outline: none;
  stroke: red !important;
}

.image_paint {
  position: absolute;
  top: 0;
  left: 0;
  width: anchor-size(attr(target-anchor));
  height: anchor-size(attr(target-anchor));
}

path {
  cursor: pointer;
}

canvas {
  /* width: 0;
  height: 0; */
}
